*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    color: black;
    cursor: default;
}


/*--------------------Header Section-----------------------*/


header{
    background-color: green;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    color: white;
    margin-left: 20px;
}

header nav{
    margin-right: 20px;
}

nav button{
    border: 1px solid white;
    background-color: green;
    border-radius: 30px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 20px;
    transition: all 0.3s ease;
}

nav button a{    
    font-size: small;
    font-weight: 500;
    text-decoration: none;    
    color: white;
}

nav .sign-up{
    background-color: white;
}

nav .sign-up a{
    color: green;
}

nav button:active{
    transform: scale(0.9);
}





/*--------------------Candidates Section-----------------------*/



section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

section h2{
    margin-bottom: 40px;
    color: green;
    font-size: xx-large;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(235, 223, 223, 0.966);
    box-shadow: 0 0 10px black;
    padding: 0;
    margin: 10px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    font-size: small;
}

.card .line-top{
    background-color: green;
    width: 250px;
    padding: 10px;
    border-radius: 50px;
}

.card img{ 
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    border: 3px solid white;
    border-radius: 50%;
}

.card p{
    margin-top: 5px;
    text-align: center;
}

.card-button{
    background-color: green;
    box-shadow: 0 0  ;
    margin: 20px;
    border: 2px solid white;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.card-button a{
    color: white;
    text-decoration: none;
    font-size: small;
}

.card-button:active{
    transform: scale(0.93);
}

.card .line-bottom{
    background-color: green;
    width: 250px;
    padding: 5px;
    border-radius: 50px;
}

section .more-button{
    background-color: green;
    box-shadow: 0 0 5px black;
    margin: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px;
    font-size: small;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

section .more-button:hover{
    transform: scale(1.04);
}

section .more-button:active{
    transform: scale(0.99);
}



/*--------------------Footer Section-------------------------*/



footer{
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: green;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
}



/*-----------------------------Responsive Design----------------------*/


/*-----Mobile Portrait Responsiveness-----*/


@media (min-width: 320px) and (max-width: 480px){
    
    .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    }

    .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 10px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    font-size: small;
    }

    .card img{
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    border: 3px solid white;
    border-radius: 50%;
    }

}



/*-----Mobile Landscape Responsiveness-----*/

@media (min-width: 481px) and (max-width: 767px){
    
    .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    }

    .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 10px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    font-size: small;
    }

    .card img{
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    border: 3px solid white;
    border-radius: 50%;
    }

}



/*-----Tablet Portrait Responsiveness-----*/

@media (min-width: 768px) and (max-width: 1024px){
    
    .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    }

    .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 10px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    font-size: small;
    }

    .card img{
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    border: 3px solid white;
    border-radius: 50%;
    }

}



/*-----Tablet Landscape Responsiveness-----*/


@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape){
    
    .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    }

    .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 10px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    font-size: small;
    }

    .card img{
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    border: 3px solid white;
    border-radius: 50%;
    }

}
