*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(9, 214, 9, 0.774);
    border-radius: 20px;
    border: 2px solid whitesmoke;
}

::-webkit-scrollbar-thumb:hover{
    background-color: darkgreen;
}

::-webkit-scrollbar-track{
    background-color: rgba(93, 238, 93, 0.288);
    border-radius: 20px;
}

html{
    scrollbar-width: auto;
    scrollbar-color: rgba(9, 214, 9, 0.774) rgba(93, 238, 93, 0.288);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: sans-serif;
    background-color: whitesmoke;
    color: black;
    cursor: default;
}

main{
    flex: 1;
}

/*--------------------Header Section-----------------------*/


header{
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    height: 70px;
    width: 70px;
}

header nav{
    margin-right: 20px;
}

nav button{
    border: none;
    background-color: white;
    box-shadow: 0 0 5px gray;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 10px;
    transition: all 0.3s ease;
}

nav button a{    
    font-size: small;
    font-weight: medium;
    text-decoration: none;    
    color: green;
}

nav .sign-up{
    background-color: rgb(4, 187, 4);
}

nav .sign-up a{
    color: white;
}

nav button:active{
    transform: scale(0.9);
}





/*--------------------Candidates Section-----------------------*/



section{
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

section h2{
    color: black;
    margin-bottom: 10px;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(235, 223, 223, 0.966);
    box-shadow: 0 0 10px black;
    padding: 0;
    margin: 20px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    border-bottom: 10px solid green;
    border-top: 10px solid green;
    font-size: small;
}

.card img{ 
    height: 120px;
    width: 120px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 3px solid white;
    border-radius: 50%;
}

.card p{
    margin-top: 8px;
    text-align: center;
}

.card-button{
    background-color: green;
    margin: 18px;
    border: 2px solid white;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.card-button a{
    color: white;
    text-decoration: none;
    font-size: small;
}

.card-button:active{
    transform: scale(0.93);
}

.card .line-bottom{
    background-color: green;
    width: 250px;
    padding: 5px;
    border-radius: 50px;
}

section .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-top: 20px;
}

section .more-button{
    background-color: green;
    box-shadow: 0 0 5px black;
    margin: 7px;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px;
    font-size: small;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

section .more-button:hover{
    transform: scale(1.04);
}

section .more-button:active{
    transform: scale(0.99);
}

section .info-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    font-size: small;
    margin-top: 40px;
    margin-bottom: 40px;
}

.info-cards .info-card{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.info-card .info-steps{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.info-card .info-h3{
    margin-bottom: 10px;
}

.info-steps .steps{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-steps .step-p1{
    background-color: green;
    color: white;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
}


/*--------------------Footer Section-------------------------*/



footer{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 50px;
    background-color: green;
    color: white;
    width: 100%;
    padding: 5px;
    font-size: small;
}

footer .footer-parts{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 15px;
}

.footer-parts img{
    height: 80px;
    width: 80px;
}

.footer-parts h3{
    margin-bottom: 10px;
    font-size: medium;
    font-weight: 700;
}

.footer-parts p{
    margin-bottom: 10px;
}

.footer-parts .links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-parts .links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.774);
    margin: 3px 0;
    cursor: default;
    transition: all 0.1s ease-in-out;
}

.footer-parts .links a:hover{
    color: white;
    font-weight: 600;
}



/*-----------------------------Responsive Design----------------------*/


/*-----Mobile Portrait Responsiveness-----*/


@media (min-width: 320px) and (max-width: 480px){

    html{
        width: 100%;
    }

    header{
    background-color: rgba(22, 255, 22, 0.301);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    }
    
    header .logo img{
        height: 70px;
        width: 70px;
    }

    
header nav{
    margin-right: 0px;
}

nav button{
    box-shadow: 0 0 5px gray;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 5px;
}

nav button a{    
    font-size: small;
    font-weight: medium;
}

    section{
        margin-top: 70px;
        width: 100%;
    }

    
section h2{
    margin-top: 15px;
    text-align: center;
    font-size: medium;
}


section h3{
    text-align: center;
    font-size: medium;
}

    .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
    }

    .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    font-size: small;
    }

    .card img{
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    border-radius: 50%;
    }

    
section .info-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    font-size: small;
    margin-top: 40px;
    margin-bottom: 40px;
}

.info-cards .info-card{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.info-card .info-steps{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.info-card .info-h3{
    margin-bottom: 10px;
}

.info-steps .steps{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-steps .step-p1{
    background-color: green;
    color: white;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
}

    footer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
    background-color: green;
    color: white;
    width: 100%;
    padding: 5px;
    font-size: small;
}

footer .footer-parts{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 15px;
}

.footer-parts img{
    height: 80px;
    width: 80px;
}

.footer-parts h3{
    margin-bottom: 10px;
    font-size: medium;
    font-weight: 700;
}

.footer-parts p{
    margin-bottom: 10px;
}

.footer-parts .links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-parts .links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.774);
    margin: 3px 0;
    cursor: default;
    transition: all 0.1s ease-in-out;
}

.footer-parts .links a:hover{
    color: white;
    font-weight: 600;
}


}



/*-----Mobile Landscape Responsiveness-----*/

@media (min-width: 481px) and (max-width: 767px){
    
    .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    }

    .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 10px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    font-size: small;
    }

    .card img{
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    border: 3px solid white;
    border-radius: 50%;
    }

}



/*-----Tablet Portrait Responsiveness-----*/

@media (min-width: 768px) and (max-width: 1024px){
    
    .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    }

    .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 10px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    font-size: small;
    }

    .card img{
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    border: 3px solid white;
    border-radius: 50%;
    }

}



/*-----Tablet Landscape Responsiveness-----*/


@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape){
    
    .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    }

    .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 10px;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    font-size: small;
    }

    .card img{
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    border: 3px solid white;
    border-radius: 50%;
    }

}
