*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

header{
    background-color: green;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
}

header h1{
    color: white;
    margin-left: 20px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card img{ 
    background-color: silver;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}