*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(9, 214, 9, 0.774);
    border-radius: 20px;
    border: 2px solid whitesmoke;
}

::-webkit-scrollbar-thumb:hover{
    background-color: darkgreen;
}

::-webkit-scrollbar-track{
    background-color: rgba(93, 238, 93, 0.288);
    border-radius: 20px;
}

html{
    scrollbar-width: auto;
    scrollbar-color: rgba(9, 214, 9, 0.774) rgba(93, 238, 93, 0.288);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: sans-serif;
    cursor: default;
    background-color: whitesmoke;
}

header{
    width: 100%;
    height: 25px;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    color: black;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    display: flex;
    justify-content: end;
    align-items: center;
}

.icons{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 10px;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*-------------------------------------Sidebar-Section-----------------------------------*/

.sidebar{
    width: 200px;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: green;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.1s ease;
}

.sidebar.collapsed{
    width: 50px;
}

.sidebar.collapsed .group button,.sidebar.collapsed #profile-content p, .sidebar.collapsed #profile-content h2{
    font-size: 0;
    justify-content: center;
}

.sidebar.collapsed .group button:hover{
    border-radius: 50%;
}

.sidebar.collapsed .group button img{
    margin: 0;
}

.sidebar.collapsed .group h3, .sidebar.collapsed .profile{
    font-size: 0;
    justify-content: center;
    display: none;
}

.sidebar.collapsed .nav-links{
    padding-top: 10px;
    margin: 0;
}

.hamburger{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 5px 0 0 5px;
}

.sidebar .sidebar-hamburger{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.1s ease-in-out;
}

.sidebar-hamburger:hover{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-hamburger:active{
    transform: scale(0.95);
}

.profile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    padding: 10px;
    gap: 10px;
    width: 200px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.profile img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

#profile-content h2{
    margin-top: 5px;
    font-size: smaller;
    font-weight: lighter;
    text-align: center;
}

#profile-content p{
    font-size: x-small;
    font-weight: lighter;
    color: lightgray;
    margin-top: 5px;
}

.group h3{
    background-color: darkgreen;
    color: silver;
    padding: 7px;
    width: 200px;
    text-align: start;
    font-size: small;
    font-weight: lighter;
    border-bottom: 1px solid olive;
    border-top: 1px solid olive;
}

.group nav{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.group nav .nav-links{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    gap: 5px;
    color: whitesmoke;
    background-color: green;
    border: none;
    text-decoration: none;
    width: 100%;
    text-align: start;
    font-size: small;
    cursor: pointer; 
}

.group nav button::after{
    background-color: #fff;
}

.group button:hover{
    background-color: rgb(24, 155, 24);
    color: white;
}

button:focus{
    border: none;
    outline: none;

}

/*==========Page Sections========================*/

.page-section{
    display: none;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    transition: all 0.1s ease;
}

.sidebar.collapsed ~ .page-section{
    margin-left: 50px;
    padding-top: 50px;
}

.page-section .heading{
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

.heading h1{
    font-size: 25px;
    font-weight: bold;
    color: darkgreen;
}

/*====================================Dashboard-Section==============================================================*/

#dashboard-section .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    transition: all 0.1s ease;
}

.sidebar.collapsed ~ #dashboard-section .cards{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 30px;
    gap: 50px;
}

.cards .card1, .card2, .card3, .card4{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 250px;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.card1{
    background-color: #6b8e23;
    color: white;
}

.card2{
    background-color: rgb(68, 68, 68);
    color: white;
}

.card3{
    background-color: rgb(204, 204, 7);
    color: white;
}

.card4{
    background-color: orange;
    color: white;
}

.cards .card-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 10px;
    padding: 10px;
}

.cards .card-info h1{
    font-size: x-large;
}

.cards .card-info p{
    font-size: medium;
}

.cards button{
    color: white;
    border: none;
    width: 100%;
    padding: 3px;
}

.card1 button{
    background-color: rgb(63, 78, 35);
}

.card2 button{
    background-color: rgb(43, 43, 43);
}

.card3 button{
    background-color: rgb(129, 129, 2);
}

.card4 button{
    background-color: rgb(179, 100, 4);
}

/*==============================================================Candidates-Section=========================================================*/

/*------------------------Candidates Table---------------------------*/

.candidates-table {
    display: flex;
    flex-direction: column;
    width: 95%;
    padding: 20px;
    max-width: 800px;
    margin-left: 20px;
    height: 430px;
    border-collapse: collapse;
    background-color: #fff;
}

.table-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.table-top button{
    background-color: green;
    color: #fff;
    font-size: small;
    border: none;
    border-radius: 3px;
    padding: 5px 10px 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;
}

.table-top button:active{
    transform: scale(0.9);
}

.selection, .selection:focus{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    outline: none;
    font-size: small;
    margin-bottom: 10px;
}

.table-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin-top: 5px;
}

.table-bottom p{
    font-size: small;
}

.table-nav{
    display: flex;
    gap: 3px;
} 

.table-nav button{
    background-color: whitesmoke;
    border: 1px solid rgb(110, 108, 108);
    outline: none;
    font-size: small;
    border: none;
    border-radius: 3px;
    padding: 5px 10px 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.table-nav button:hover{
    background-color: rgb(8, 185, 8);
    color:white;
    border: 1px solid white;
}

.table-nav button:active{
    transform: scale(0.9);
}

.table-nav p{
    background-color: #6b8e23;
    color: white;
    padding: 0px 5px 0px 5px;
}

.candidates-list th, .candidates-list td, .candidates-list tr{
    border: 1px solid #f8f3f3;
    padding: 7px;
    text-align: start;
    font-size: small;
    font-weight: 550;
}

.candidates-table th {
    background-color:white ;
    color: green;
}

.candidates-list img{
    width: 50px;
    height: 50px;
}

.candidates-list .actions-cell{
    display: flex;
    justify-content: center;
    align-items: center;
}

.candidates-list button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: green;
    border: none;
    padding: 5px 5px;
    margin: 5px;
    cursor: pointer;
}

/*-------------------------Candidates Form----------------------------*/
.form-box{
    display: none; 
}

.form-box.active{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.438);
    backdrop-filter: blur(5px);
}

#candidates-form{
    background-color: white;
    width: 50%;
    max-width: 450px;
    margin: 20px auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.form-header{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-header h2{
    font-size: small;
    font-weight: bold;
}

.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start; 
    gap: 5px;
    margin-left: 30px;
}

#candidates-form label{
    font-size: medium;
    font-weight: bold;
    color: rgb(0, 100, 0);
}

#candidates-form input, #candidates-form select{
    padding: 5px;
    border: none;
    border-radius: 3px;
    width: 380px;
    border-bottom: 1px solid green;
    background-color: rgba(245, 245, 245, 0.781);
    border-radius: 2px;
    font-size: small;
}

#candidates-form #photo{
    border: none;
    background-color: transparent;
}

#candidates-form input:focus, #candidates-form select:focus{
    outline: none;
    border-bottom: 2px solid darkgreen;
}

#candidates-form button{
    width: 150px;
    padding: 7px;
    border: none;
    border-radius: 3px;
    margin: 10px 0 30px 30px;
    background-color: green;
    color: white;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
}

/*==============================================================Elections-Section=========================================================*/

.election-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    margin: 20px;
}

.election-card{
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.card-header{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: small;
    font-weight: bold;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 30px;
    gap: 10px;
}

.card-body label{
    font-size: small;
    font-weight: bold;
    color: black;
}

.card-body input, .card-body select{
    padding: 5px;
    border: 1px solid green;
    background-color: white;
    border-radius: 2px;
    font-size: small;
    width: 500px;
}

.card-body input:focus, .card-body select:focus{
    outline: none;
    border: 2px solid darkgreen;
}

.election-dates{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.election-dates input, .card-body select{
    width: 150px;
}

.date-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

.card-body button{
    width: 150px;
    padding: 5px;
    margin-right: 20px;
    margin-top: 10px;
    border: none;
    background-color: green;
    color: white;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
}

.card-body h2{
    color: darkgreen;
    font-size: medium;
    font-weight: bold;
    margin: 0;
}

.card-body p{
    font-size: small;
    color: black;

}

/*===============================Votes Section=============================*/

.votes-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 80px;
    margin: 20px;
}

.votes-card{
    border-radius: 5px;
    width: 90%;
    max-width: 999px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.votes-card-header{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: small;
    font-weight: bold;
}

.votes-card .cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.votes-card .card{
    background-color: rgb(255, 253, 253);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid lightgrey;
    color: green;
    width: 150px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
}

.votes-card .card p{
    font-size: small;
    color: black;
}

.votes-card-header h2{
    font-size: medium;
    font-weight: bold;
}

#chart1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chart1 h3{
    margin-bottom: 20px;
    color: darkgreen;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

canvas{
    padding: 20px;
    background-color: rgb(175, 241, 250);
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/*===============================System Logs Section========================*/

#system-logs {
  padding: 24px;
  color: #e5e7eb;
}

.logs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.logs-header h2 {
  font-size: 20px;
  font-weight: 600;
}

.logs-controls {
  display: flex;
  gap: 12px;
}

.logs-controls select,
.logs-controls input {
  background: #62f302;
  color: #e5e7eb;
  border: 1px solid #00ff0d;
  padding: 8px 10px;
  border-radius: 6px;
  outline: none;
}

.logs-table-wrapper {
  background: #61fa7b;
  border-radius: 10px;
  overflow: hidden;
}

.logs-table {
  width: 100%;
  border-collapse: collapse;
}

.logs-table thead {
  background: #3cff00;
}

.logs-table th,
.logs-table td {
  padding: 14px 12px;
  text-align: left;
  font-size: 14px;
}

.logs-table tbody tr {
  border-bottom: 1px solid #56c70a;
}

.logs-table tbody tr:hover {
  background: #0bd10b;
}

.log-info {
  color: black;
  font-weight: 500;
}

.log-warning {
  color: #facc15;
  font-weight: 500;
}

.log-error {
  color: #f31b1b;
  font-weight: 600;
}
