* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: local;
    z-index: -1;
}

.container {
    width: 400px;
    border-radius: 8px;
    padding: 30;
    text-align: center;
    border: lpx solid rgba(red, green, blue, alpha);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
}

.from {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: green;
}

.input-field {
    position: relative;
    border-bottom: 2px solid#ccc;
    margin: 15px 0;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: green;
    font: size 16px;
    pointer-events: none;
    transition: 0.15s ease;
}

.input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 10px;
    color: rgb(1, 146, 1);
}

.input-field input:focus~label,
.input-field input:valid~label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
}

.forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: green;
}

#remember {
    accent-color: green;
}

.forget label {
    display: flex;
    align-items: center;
}

.forget label p {
    margin-left: 8px;
}

.container a {
    color: green;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}