*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(9, 214, 9, 0.774);
    border-radius: 20px;
    border: 2px solid whitesmoke;
}

::-webkit-scrollbar-thumb:hover{
    background-color: darkgreen;
}

::-webkit-scrollbar-track{
    background-color: rgba(93, 238, 93, 0.288);
    border-radius: 20px;
}

html{
    scrollbar-width: auto;
    scrollbar-color: rgba(9, 214, 9, 0.774) rgba(93, 238, 93, 0.288);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    background-color: whitesmoke;
    color: black;
    cursor: default;
}

main {
    flex: 1;
}

/*--------------------Header Section-----------------------*/


header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 70px;
    width: 70px;
}

header nav {
    margin-right: 20px;
}

nav button {
    border: none;
    background-color: white;
    box-shadow: 0 0 5px gray;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 10px;
    transition: all 0.3s ease;
}

nav button a {
    font-size: small;
    font-weight: medium;
    text-decoration: none;
    color: green;
}

nav .sign-up {
    background-color: rgb(4, 187, 4);
}

nav .sign-up a {
    color: white;
}

nav button:active {
    transform: scale(0.9);
}

/*--------------------Footer Section-------------------------*/

footer {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 50px;
    background-color: green;
    color: white;
    width: 100%;
    padding: 5px;
    font-size: small;
}

footer .footer-parts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 15px;
}

.footer-parts img {
    height: 80px;
    width: 80px;
}

.footer-parts h3 {
    margin-bottom: 10px;
    font-size: medium;
    font-weight: 700;
}

.footer-parts p {
    margin-bottom: 10px;
}

.footer-parts .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-parts .links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.774);
    margin: 3px 0;
    cursor: default;
    transition: all 0.1s ease-in-out;
}

.footer-parts .links a:hover {
    color: white;
    font-weight: 600;
}