*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    font-family: sans-serif;
    background-color: whitesmoke;
    color: black;
    cursor: default;
}

header{
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    height: 70px;
    width: 70px;
}

header button{
    background-color: rgb(4, 187, 4);
    margin-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:active{
    transform: scale(0.9);
}

header button a{
    color: white;
    text-decoration: none;
    font-size: small;
    font-weight: normal;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(248, 243, 243, 0.815);
    padding: 30px;
    width: 320px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

form h2{
    margin-bottom: 10px;
    text-align: center;
}

form label{
    align-self: flex-start;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500;
}

form input{
    background-color: transparent;
    color: black;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(3, 177, 3);
    font-size: 15px;
}

form input:focus{
    border-bottom: 2px solid rgb(1, 73, 1);
    background-color: rgb(243, 240, 235);
}

#email-box, #phone-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form #phone-box{
    display: none;
}

.toggle-link{
    display: block;
    font-size: 12px;
    color: green;
    margin-top: 5px;
    text-decoration: underline;
    cursor: pointer;
    align-self: flex-start;
}

.toggle-link:hover {
    color: darkgreen;
}

form .button{
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
}

/*------------------OTP Form Section-----------------------*/

#otp-form{
    display: none;
}

#otp-form p{
    font-size: small;
    color: gray;
    text-align: center;
}

#phone-number{
    display: none;
}

.otp-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.otp-box{
    background-color: rgba(208, 245, 208, 0.452);
    text-align: center;
}

.otp-box:focus{
    background-color: rgba(136, 231, 136, 0.452);
}

#otp-timer{
    font-size: small;
    color: gray;
    margin-top: 5px;
    text-align: center;
}

#resend-otp{
    background-color: none;
    border: none;
    color: green;
    cursor: pointer;
    font-size: small;
    text-decoration: underline;
    padding: 0;
    display: none;
}

#resend-otp:hover{
    color: rgb(27, 94, 32);
}



/*--------------------Footer Section-------------------------*/



footer{
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 50px;
    background-color: green;
    color: white;
    width: 100%;
    padding: 5px;
    font-size: small;
}

footer .footer-parts{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 15px;
}

.footer-parts img{
    height: 80px;
    width: 80px;
}

.footer-parts h3{
    margin-bottom: 10px;
    font-size: medium;
    font-weight: 700;
}

.footer-parts p{
    margin-bottom: 10px;
}

.footer-parts .links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-parts .links a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.774);
    margin: 3px 0;
    cursor: default;
    transition: all 0.1s ease-in-out;
}

.footer-parts .links a:hover{
    color: white;
    font-weight: 600;
}


