body {
    background-color: #f8f9fc;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
}



.title {
    text-align: center;
    color: #192929;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* hapa nijinsi nilivyo arrengi kad gesa tech */
.grid-layout {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background: #4bb488;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #8abebe;
    object-fit: cover;
    margin-bottom: 10px;
}


/* batani za sela hizi gesa */
.kachague {
    background-color: #4bb488;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
    width: 15%;
    margin: 19px;
    align-items: center;
}

.kachague:hover {
    background-color: #393443;
}

.sela-btn {
    background-color: #5bc0be;
    color: #0b132b;
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

.sela-btn:hover {
    background-color: #6fffe9;
}

hr {
    border: 0.5px solid #3a506b;
    margin: 40px 0;
}

/* Sehemu ya Fakuliti (Accordion) */
.faculty-item {
    background: #d7ddec;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 1px solid #426c9f;
    overflow: hidden;
}

.faculty-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    cursor: pointer;
    background: #1b263b;
    transition: 0.3s;
}

.faculty-header:hover {
    background: #25334d;
}

.faculty-header span {
    font-weight: bold;
    font-size: 1.1rem;
}

.drop-icon {
    background: #5bc0be;
    color: #0b132b;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 0.9rem;
}

.faculty-content {
    display: none;
    /* Inajificha mwanzoni */
    padding: 20px;
    border-top: 1px solid #3a506b;
    background: #161616;
}

/* Modal ya Popup */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #060606;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 450px;
    text-align: center;
    position: relative;
    border: 2px solid #5bc0be;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #5bc0be;
    cursor: pointer;
}







/*--------------------Footer Section-------------------------*/



footer {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 50px;
    background-color: green;
    color: white;
    width: 100%;
    padding: 5px;
    font-size: small;
}

footer .footer-parts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 15px;
}

.footer-parts img {
    height: 80px;
    width: 80px;
}

.footer-parts h3 {
    margin-bottom: 10px;
    font-size: medium;
    font-weight: 700;
}

.footer-parts p {
    margin-bottom: 10px;
}

.footer-parts .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-parts .links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.774);
    margin: 3px 0;
    cursor: default;
    transition: all 0.1s ease-in-out;
}

.footer-parts .links a:hover {
    color: white;
    font-weight: 600;
}



/*-----Mobile Portrait Responsiveness-----*/

@media (min-width: 768px) and (max-width: 1024px) {


    html {
        width: 100%;
    }

    header {
        background-color: rgba(22, 255, 22, 0.301);
        backdrop-filter: blur(10px);
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header .logo img {
        height: 70px;
        width: 70px;
    }


    header nav {
        margin-right: 0px;
    }

    nav button {
        box-shadow: 0 0 5px gray;
        border-radius: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-left: 5px;
    }

    nav button a {
        font-size: small;
        font-weight: medium;
    }


    footer {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 30px;
        background-color: green;
        color: white;
        width: 100%;
        padding: 5px;
        font-size: small;
    }

    footer .footer-parts {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin: 0 15px;
    }

    .footer-parts img {
        height: 80px;
        width: 80px;
    }

    .footer-parts h3 {
        margin-bottom: 10px;
        font-size: medium;
        font-weight: 700;
    }

    .footer-parts p {
        margin-bottom: 10px;
    }

    .footer-parts .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
    }

    .footer-parts .links a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.774);
        margin: 3px 0;
        cursor: default;
        transition: all 0.1s ease-in-out;
    }

    .footer-parts .links a:hover {
        color: white;
        font-weight: 600;
    }

}